tabletop-tracker/main/default/flows/Prepare_a_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_contact_Id_to_collection</name>
        <label>Add contact Id to collection</label>
        <locationX>1279</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Campaign_Members.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_new_Player_Session_to_collection</name>
        <label>add new Player Session to collection</label>
        <locationX>1430</locationX>
        <locationY>1894</locationY>
        <assignmentItems>
            <assignToReference>newPlayerSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_newPlayerSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Player_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_error_message</name>
        <label>assign error message</label>
        <locationX>1324</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_a_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Player_Session_values</name>
        <label>Assign new Player Session values</label>
        <locationX>1248</locationX>
        <locationY>1903</locationY>
        <assignmentItems>
            <assignToReference>var_newPlayerSession.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newPlayerSession.Player__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Player_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newPlayerSession.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_input_vars_to_session_object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newPlayerSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_PlayerSessionName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_new_Player_Session_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars</name>
        <label>assign vars</label>
        <locationX>1089</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>var_Session_Agenda</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Session_Agenda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Session_Start_Date_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Session_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Session_End_Date_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Session_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Session_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Session_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_input_vars_to_session_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_error_message</name>
        <label>clear error message</label>
        <locationX>1086</locationX>
        <locationY>2146</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_success_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
    </assignments>
    <description>This flow ingests the necessary data to create a session, along with an event and a preparation task.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_dayBeforeSession</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!var_Session_Start_Date_Time})-1</expression>
    </formulas>
    <formulas>
        <name>fx_Default_Session_Name</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!var_campaign.Name}), {!var_campaign.Name} + &apos; - Session &apos;+ TEXT({!var_campaign.Total_Number_of_Sessions__c}), &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fx_PlayerSessionName</name>
        <dataType>String</dataType>
        <expression>{!var_Session_Name} + &apos; &apos; +  {!Iterate_over_Player_Contacts.Name}</expression>
    </formulas>
    <formulas>
        <name>fx_prepareSessionTaskName</name>
        <dataType>String</dataType>
        <expression>&apos;Prepare for &apos; + {!var_Session_Name}</expression>
    </formulas>
    <interviewLabel>Prepare a Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prepare a Session</label>
    <loops>
        <name>Iterate_over_Campaign_Members</name>
        <label>Iterate over Campaign Members</label>
        <locationX>1102</locationX>
        <locationY>1604</locationY>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_contact_Id_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Player_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Player_Contacts</name>
        <label>Iterate over Player Contacts</label>
        <locationX>1082</locationX>
        <locationY>1883</locationY>
        <collectionReference>Get_Player_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_Player_Session_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Player_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1100</locationX>
        <locationY>1323</locationY>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>var_Session_Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Transform_input_vars_to_session_object.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_Session_Agenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>var_Session_End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>sc_Session_Address.addressLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Transform_input_vars_to_session_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_User_Player.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZVC__Schedule_a_Zoom_Meeting__c</field>
            <value>
                <elementReference>SC_Online.value</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Player_Sessions</name>
        <label>Create Player Sessions</label>
        <locationX>1086</locationX>
        <locationY>2028</locationY>
        <connector>
            <targetReference>clear_error_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_error_message</targetReference>
        </faultConnector>
        <inputReference>newPlayerSessions</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates the session</description>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>1096</locationX>
        <locationY>1077</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_error_message</targetReference>
        </faultConnector>
        <inputReference>Transform_input_vars_to_session_object</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1097</locationX>
        <locationY>1222</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fx_dayBeforeSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Transform_input_vars_to_session_object.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fx_prepareSessionTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Transform_input_vars_to_session_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_User_Player.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>1101</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Campaign_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Player_Contacts</name>
        <label>Get Player Contacts</label>
        <locationX>1088</locationX>
        <locationY>1756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Player_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Player</name>
        <label>Get User Player</label>
        <locationX>1097</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1082</locationX>
        <locationY>2289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Success! Here is your new Session: &lt;a href=&quot;/{!Transform_input_vars_to_session_object.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!var_Session_Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen ingests the data required to create a session along with tasks, notifications, and events to assist with session lifecycle</description>
        <name>Prepare_a_Session</name>
        <label>Prepare a Session</label>
        <locationX>1090</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_vars</targetReference>
        </connector>
        <fields>
            <name>display_error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!var_error_message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_error_message</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_success_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 255, 30);&quot;&gt;{!var_success_message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_success_message</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>var_success_message</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sc_Session_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fx_Default_Session_Name</elementReference>
            </defaultValue>
            <fieldText>Session Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sc_campaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Campaign__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_campaign.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sc_Session_Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Session Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sc_Session_End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Session End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SC_Online</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Online</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Online</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>In-Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sc_Session_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SC_Online.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sc_Session_Agenda</name>
            <fieldText>Session Agenda</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>969</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Prepare_a_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_input_vars_to_session_object</name>
        <label>Transform input vars to session object</label>
        <locationX>1097</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>Get_User_Player</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Session__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Agenda__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_Session_Agenda</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Campaign__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>sc_campaign.recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_Session_Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__City__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>sc_Session_Address.city</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__CountryCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>sc_Session_Address.countryCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__PostalCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>sc_Session_Address.postalCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__Street__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>sc_Session_Address.street</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPlayerSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player_Session__c</objectType>
    </variables>
    <variables>
        <name>var_campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>var_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_newPlayerSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player_Session__c</objectType>
    </variables>
    <variables>
        <name>var_Session_Agenda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Session_End_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable describing the session&apos;s name</description>
        <name>var_Session_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Session_Start_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_success_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
